@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100|Slabo+13px&subset=latin-ext,latin);


.sans-serif {
    font-family: 'Roboto', sans-serif;
}
.serif {
    font-family: 'Slabo 13px', serif;
}

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
    & > div {
        width: 18px;
        height: 18px;
        background-color: #333;
        border-radius: 100%;
        display: inline-block;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
    .bounce1 {
        animation-delay: -0.32s;
    }
    .bounce2 {
        animation-delay: -0.16s;
    }
}
@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        transform: scale(0);
    }
    40% { 
        transform: scale(1.0);
    }
}

.show {
    transition: opacity 400ms;
    opacity: 1;
}
.hide {
    transition: opacity 400ms;
    opacity: 0;
}



body {
    margin: 0;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    &> section#menu {
        display: flex;
        flex-direction: column;
        align-items: center;

        &> div:nth-child(1) {
            .sans-serif;
            font-size: 64px;
            margin-bottom: 45px;
        }

        &> div:nth-child(2) {
            display: flex;
            justify-content: center;

            &> #searchbar {
                display: flex;
                align-items: center;

                box-sizing: border-box;
                width: 750px;

                padding: 16px 32px;

                transition: .05s, all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
                box-shadow: 0 4px 16px rgba(0, 0, 0, .4);
                border-radius: 4px;

                cursor: text;

                &:focus {
                    box-shadow: 0 8px 32px rgba(0, 0, 0, .4);
                }

                &> div {
                    margin-right: 32px;

                    position: relative;
                    top: 2px;

                    opacity: .5;   
                }

                &> input {
                    width: 100%;

                    border-radius: 0 4px 4px 0;

                    border: none;
                    outline: none;

                    .sans-serif;
                    font-size: 24px;
                    font-weight: 300;

                }
            }
        }
    }

    &.home > section#menu {
        padding-top: 20vh;
        height: 175px;
    }

    &.home > section#content > #page-content {
        width: 750px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &> section#content {
        width: 100%;

        &> #page-content {
            margin: 100px auto 0;

            &> .page-layout {
                &> h1 {
                    .sans-serif;
                    font-weight: 100;
                    font-size: 36px;
                }
            }

            &> .fullpage {
                .page-layout;
            }

            &> .page {
                .page-layout;
            }
        }
    }
}
