@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100|Slabo+13px&subset=latin-ext,latin);


.sans-serif {
    font-family: 'Roboto', sans-serif;
}
.serif {
    font-family: 'Slabo 13px', serif;
}

@keyframes "sk-cubemove" {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}
.cube1, .cube2 {
    background-color: #2980B9;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
  
    animation: sk-cubemove 1.8s infinite ease-in-out;
}
.cube2 {
    animation-delay: -0.9s;
}


.show {
    transition: opacity 400ms;
    opacity: 1;
}
.hide {
    transition: opacity 400ms;
    opacity: 0;
}
.show-hard {
    display: block;
}
.hide-hard {
    display: none;
}


body {
    margin: 0;
}

html > body {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    &> section#menu {
        transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);

        display: flex;
        flex-direction: column;
        align-items: center;

        &> div:nth-child(1) {
            .sans-serif;
            font-size: 64px;
            margin-bottom: 45px;

            transition: margin-top, opacity 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
            // Overwritten by .home
            opacity: 0;
            margin-top: -85px;

            @media (max-width: 620px) {
                font-size: 10vw;
                margin-top: ~"calc(-18px - 10vw)";
            }
        }

        &> div:nth-child(2) {
            display: flex;
            justify-content: center;

            width: 750px;
            max-width: ~"calc(100vw - 128px)";

            &> .menu-button {
                width: 24px;
                height: 24px;
                margin: 19px 32px;

                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;
            }

            &> #searchbar {
                display: flex;
                align-items: center;

                width: 100%;

                box-sizing: border-box;

                padding: 16px 32px;

                transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
                box-shadow: 0 4px 16px rgba(0, 0, 0, .4);
                border-radius: 4px;

                cursor: text;

                &:focus {
                    box-shadow: 0 8px 32px rgba(0, 0, 0, .4);
                }

                &> div {
                    margin-right: 32px;

                    position: relative;
                    top: 2px;

                    opacity: .5;   
                }

                &> input {
                    width: 100%;

                    border-radius: 0 4px 4px 0;

                    border: none;
                    outline: none;

                    .sans-serif;
                    font-size: 24px;
                    font-weight: 300;

                }
            }
        }
    }

    &.home {
        &> section#menu {
            padding-top: 20vh;
            height: 175px;

            &> div:nth-child(1) {
                opacity: 1;
                margin-top: 0;
            }
        }

        &> section#content > #page-content {
            width: 750px;

            display: flex;
            flex-direction: column;
            align-items: center;

            &> div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &.page {
        &> section#content > #page-content {
            width: 100%;
            padding: 0 100px;
        }
    }

    &> section#content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &> #page-spinner {
            transition: margin-top 600ms cubic-bezier(0.215, 0.61, 0.355, 1);

            &.hide {
                margin-top: -40px;
            }
        }

        &> #page-content {
            box-sizing: border-box;

            &> .page-layout {
                & h1 {
                    .sans-serif;
                    font-weight: 100;
                    font-size: 56px;
                    margin-top: 35px;
                }

                & h2 {
                    .sans-serif;
                    font-weight: 400;
                    font-size: 32px;
                    margin-top: 50px;
                }

                & h3 {
                    .sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                }

                & p, dl, .graph-input {
                    .serif;
                    text-align: justify;
                    font-size: 22px;
                }

                & .graph {
                    display: flex;
                    justify-content: center;

                    &> .graph-html-overlay {
                        position: relative;
                        overflow: hidden;

                        &> * {
                            position: absolute;
                        }
                    }
                }

                & .margin-box {
                    margin: 48px 0;
                }

                & .hor-box {
                    width: 100%;

                    margin-top: 32px;

                    display: flex;
                    justify-content: space-around;
                }

                & .graph-controls {
                    width: 30%;
                }

                & .graph-input {
                    text-align: left;

                    &> span > input {
                        .sans-serif;
                        font-size: 18px;

                        text-align: right;

                        box-sizing: border-box;
                        height: 27px;
                        width: 80px;
                    }

                    &:not(:last-child) {
                        margin-bottom: 64px;
                    }
                }

                & .h-center {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                & .v-center {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                & .center {
                    .h-center;
                    .v-center;
                }

                & .formulae {
                    margin: 35px 0;


                    &> div {
                        display: flex;
                        flex-direction: column;

                        padding: 32px;

                        transition: box-shadow 100ms cubic-bezier(0.215, 0.61, 0.355, 1);

                        &.proof-shown {
                            box-shadow: 0 4px 16px rgba(0, 0, 0, .4);
                        }

                        &:not(:last-child) {
                            margin-bottom: 32px;
                        }


                        &> .formula {
                            display: table;
                            font-size: 22px;
                        }

                        &> .description {
                            & :first-child, .proof {
                                font-size: 22px;
                            }

                            &> .proof-button {
                                .sans-serif;
                                font-size: 20px;
                                font-weight: 400;
                                color: #777;
                                background-color: #fff;

                                display: table;
                                float: right;

                                box-sizing: border-box;
                                padding: 8px;

                                text-align: center;

                                cursor: pointer;

                                user-select: none;

                                &> .proof-button-icon {
                                    position: relative;
                                    display: inline-block;

                                    width: 1em;
                                    height: 1em;

                                    opacity: .5;

                                    &:before, &:after {
                                        content: '';
                                        position: absolute;
                                        
                                        top: 50%;
                                        left: 50%;
                                        width: 10px;
                                        height: 2px;

                                        border-radius: 1px;

                                        background-color: #000;

                                        transform: translate(-90%, 5px) rotate(40deg);
                                        transform-origin: 100% 50%;

                                        transition: transform .2s cubic-bezier(.2,.3,0,1);
                                    }
                                    &:after {
                                        transform: translate(0, 5px) rotate(-40deg);
                                        transform-origin:    0 50%;
                                    }
                                }

                                &.toggled .proof-button-icon {
                                    &:before {
                                        transform: translate(-90%, -2px) rotate(-40deg);
                                    }
                                    &:after {
                                        transform: translate(0, -2px) rotate(40deg);
                                    }
                                }
                            }
                        }

                        &> .proof {
                            font-size: 22px;
                        }
                    }

                    & .qed {
                        text-align: right;
                    }
                }
            }

            &> div {
                .page-layout;

                width: 100%;
            }

            &> .page {
                display: flex;

                &> .content {
                    flex-basis: 100px; // There's a bug in WebKit and Gecko where the child width exceedes that of its parent when flex-basis is auto.
                    flex-grow: 1;
                }
            }

            & #site-index {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            & #site-index, .toc > div > ul {
                .sans-serif;
                font-weight: 300;

                list-style-type: none;
                padding: 0;

                &> li.active {
                    font-weight: 400;
                }

                &> li:not(:last-child) {
                    margin-bottom: 14px;
                }

                &> li > a {
                    color: #000;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            & .toc {
                margin-left: 100px;

                height: 100%;

                display: table;

                &> div {
                    width: 100%;

                    &> h3 {
                        margin-top: 40px;
                    }
                }
            }
        }
    }

    &> #footer {
        width: 100%;
        margin: 32px 0 16px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-grow: 1;

        text-align: center;

        .serif;
        font-size: 18px;

        &> :first-child {
            padding-top: 16px;
            border-top: 2px dashed lightgray;
        }

        & a {
            color: #000;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
